@import '../commonStyles.scss';
.todoList {
  max-width: $containerWidth;
  width: 100%;
  background-color: $containerColor;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
