@import '../commonStyles.scss';
.todoContainer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid $backgroundColor;
  padding: 3%;
}

.completeButton {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid $backgroundColor;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.buttonCheckMark_hidden,
.buttonCheckMark {
  display: inline-block;
  opacity: 1;
  width: 9px;
  height: 9px;
  border: solid $checkColor;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin-bottom: 2px;
  scale: 1;
}

.buttonCheckMark_hidden {
  scale: 0;
  opacity: 0;
  transition: all $timing linear;
}

.todoText,
.todoText_completed {
  width: 80%;
  height: 30px;
  padding-top: 8px;
  text-align: start;
  vertical-align: middle;
  overflow: hidden;
}
.todoText_completed {
  text-decoration: line-through;
}

.editTodoInput {
  width: 80%;
  height: 30px;
  text-align: start;
}

$top: 14px;
$right: 5px;
$crossColor: rgb(175, 0, 0);
$crossWidth: 20px;
$crossHeight: 3px;

.deleteTodoButton {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    width: $crossWidth;
    height: $crossHeight;
    background-color: $crossColor;
    position: absolute;
    top: $top;
    right: $right;
    transition: all $timing ease-in-out;
  }
  &::after {
    transform: rotate(-45deg);
  }
  &::before {
    transform: rotate(45deg);
  }

  &:hover {
    &::before {
      transform: rotate(0deg);
    }
    &::after {
      transform: rotate(0deg);
    }
  }
}
