@import '../commonStyles.scss';
.filterItem,
.filterItem_selected {
  display: inline-block;
  height: 18px;
  background: none;
  border: none;
  transition: all $timing linear;

  &:hover {
    outline: 2px solid rgb(222, 226, 222);
    outline-offset: 2px;
  }
}

.filterItem {
  cursor: pointer;
}

.filterItem_selected {
  outline: 2px solid $checkColor;
  outline-offset: 2px;
  cursor: not-allowed;
}

// .filterItem:first-of-type,
// .filterItem_selected:first-of-type {
//   margin-right: 6%;
// }

// .filterItem:last-of-type,
// .filterItem_selected:last-of-type {
//   margin-left: 6%;
// }
