@import './components/commonStyles.scss';

.App {
  width: 100%;
  background-color: rgb(238, 238, 238);
  height: 2000px;
  padding: 30px;
}

.container {
  margin: 0 auto;
  width: 30%;
  background-color: $containerColor;
}

.todoHeader__header {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.todoHeader__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
